<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxsram.ssm.mapper.CommodityMapper">
	<select id="queryOnlineCommodityTypes" resultType="com.sxsram.ssm.entity.OnlineCommodityType">
		select
		id,typeName
		from
		t_online_commodity_type
		where
		parentId is null
		order by
		sequence
	</select>

	<resultMap type="com.sxsram.ssm.entity.NoticeType" id="map_noticeTypeAndNotice">
		<id column="id" property="id" />
		<result column="typeName" property="typeName" />
		<collection property="notices" ofType="com.sxsram.ssm.entity.Notice">
			<id column="noticeId" property="id" />
			<result column="noticeTitle" property="noticeTitle" />
			<result column="noticeFileName" property="noticeFileName" />
			<result column="noticeAddTime" property="noticeAddTime" />
		</collection>
	</resultMap>
	<select id="queryNoticeTypes" resultMap="map_noticeTypeAndNotice">
		select
		t.id,t.typeName,n.id as
		noticeId,n.noticeTitle,n.noticeFileName,n.noticeAddTime
		from
		t_sc_notice_type t left join t_sc_notice n
		on n.noticeTypeId = t.id and
		n.noticeFlag = 0
		order by
		t.sequence
	</select>

	<resultMap type="com.sxsram.ssm.entity.OnlineCommodity" id="map_onlineCommodityAndModels">
		<id column="id" property="id" />
		<result column="commodityName" property="commodityName" />
		<result column="commodityMainPic" property="commodityMainPic" />
		<result column="commodityDetailFileName" property="commodityDetailFileName" />
		<collection property="commodityModels"
			ofType="com.sxsram.ssm.entity.OnlineCommodityModel">
			<id column="mid" property="id" />
			<result column="commodityModel" property="commodityModel" />
			<result column="commodityPrice" property="commodityPrice" />
			<result column="commodityDesc" property="commodityDesc" />
			<result column="commodityService" property="commodityService" />
			<result column="commodityRepertory" property="commodityRepertory" />
			<result column="commodityFlag" property="commodityFlag" />
			<result column="commoditySalesVolume" property="commoditySalesVolume" />
			<result column="commodityPutawayTime" property="commodityPutawayTime" />
			<result column="commoditySoldoutTime" property="commoditySoldoutTime" />
			<result column="commoditySmallPic1" property="commoditySmallPic1" />
			<result column="commoditySmallPic2" property="commoditySmallPic2" />
			<result column="commoditySmallPic3" property="commoditySmallPic3" />
			<result column="commoditySmallPic4" property="commoditySmallPic4" />
			<result column="commoditySmallPic5" property="commoditySmallPic5" />
			<result column="isDefaultModel" property="isDefaultModel" />
		</collection>
	</resultMap>
	<select id="queryOnlineCommodities" parameterType="com.sxsram.ssm.entity.OnLineCommodityQueryVo"
		resultMap="map_onlineCommodityAndModels">
		select
		c.id,c.commodityName,c.commodityMainPic,c.commodityDetailFileName,
		m.id as
		mid,m.commodityModel,m.commodityPrice,m.commodityDesc,m.commodityService,
		m.commodityRepertory,m.commodityFlag,m.commoditySalesVolume,m.commodityPutawayTime,m.commoditySoldoutTime,
		m.commoditySmallPic1,m.commoditySmallPic2,m.commoditySmallPic3,m.commoditySmallPic4,m.commoditySmallPic5,
		m.isDefaultModel
		from
		t_online_commodity c join t_online_commodity_model
		m
		on c.id = m.commodityId and m.commodityFlag = 0 and m.isDefaultModel 
		= 1 and c.onlineCommodityFlag = 0
		<if test="pagination != null">
			<if test="pagination.orderByCols != null">
				order by ${pagination.orderByCols}
			</if>
			<if test="pagination.limitStart != null">
				limit #{pagination.limitStart},#{pagination.limitNum}
			</if>
		</if>
	</select>

	<select id="queryOnlineCommodityById" parameterType="com.sxsram.ssm.entity.OnLineCommodityQueryVo"
		resultMap="map_onlineCommodityAndModels">
		select
		c.id,c.commodityName,c.commodityMainPic,c.commodityDetailFileName,
		m.id as
		mid,m.commodityModel,m.commodityPrice,m.commodityDesc,m.commodityService,
		m.commodityRepertory,m.commodityFlag,m.commoditySalesVolume,m.commodityPutawayTime,m.commoditySoldoutTime,
		m.commoditySmallPic1,m.commoditySmallPic2,m.commoditySmallPic3,m.commoditySmallPic4,m.commoditySmallPic5,
		m.isDefaultModel
		from
		t_online_commodity c join t_online_commodity_model
		m
		on c.id = m.commodityId and m.commodityFlag = 0 and c.onlineCommodityFlag = 0
		where
		c.id = #{id}
		<if test="pagination != null">
			<if test="pagination.orderByCols != null">
				order by ${pagination.orderByCols}
			</if>
			<if test="pagination.limitStart != null">
				limit #{pagination.limitStart},#{pagination.limitNum}
			</if>
		</if>
	</select>

	<select id="queryOnlineCommoditiesByCatId" parameterType="com.sxsram.ssm.entity.OnLineCommodityQueryVo"
		resultMap="map_onlineCommodityAndModels">
		select
		c.id,c.commodityName,c.commodityMainPic,c.commodityDetailFileName,
		m.id as
		mid,m.commodityModel,m.commodityPrice,m.commodityDesc,m.commodityService,
		m.commodityRepertory,m.commodityFlag,m.commoditySalesVolume,m.commodityPutawayTime,m.commoditySoldoutTime,
		m.commoditySmallPic1,m.commoditySmallPic2,m.commoditySmallPic3,m.commoditySmallPic4,m.commoditySmallPic5,
		m.isDefaultModel
		from
		t_online_commodity c join t_online_commodity_model
		m
		on c.id = m.commodityId
		where
		m.commodityFlag = 0 and m.isDefaultModel 
		= 1 and c.onlineCommodityFlag = 0
		<if test="queryCondition != null">
			<if test="queryCondition.whereCond != null">
				and ${queryCondition.whereCond}
			</if>
		</if>
		<if test="pagination != null">
			<if test="pagination.orderByCols != null">
				order by ${pagination.orderByCols}
			</if>
			<if test="pagination.limitStart != null">
				limit #{pagination.limitStart},#{pagination.limitNum}
			</if>
		</if>
	</select>

	<select id="queryOnlineCommoditiesTotalNumByCatId"
		parameterType="com.sxsram.ssm.entity.OnLineCommodityQueryVo"
		resultType="Integer">
		select
		COUNT(*)
		from
		t_online_commodity c join t_online_commodity_model m
		on c.id = m.commodityId
		where
		m.commodityFlag = 0 and m.isDefaultModel =
		1 and c.onlineCommodityFlag = 0
		<if test="queryCondition != null">
			<if test="queryCondition.whereCond != null">
				and ${queryCondition.whereCond}
			</if>
		</if>
		<if test="pagination != null">
			<if test="pagination.orderByCols != null">
				order by ${pagination.orderByCols}
			</if>
			<if test="pagination.limitStart != null">
				limit #{pagination.limitStart},#{pagination.limitNum}
			</if>
		</if>
	</select>


	<resultMap type="com.sxsram.ssm.entity.OnlineCommodityModel"
		id="map_onlineCommodityModel">
		<id column="id" property="id" />
		<result column="commodityModel" property="commodityModel" />
		<result column="commodityPrice" property="commodityPrice" />
		<result column="commodityDesc" property="commodityDesc" />
		<result column="commodityService" property="commodityService" />
		<result column="commodityRepertory" property="commodityRepertory" />
		<result column="commodityFlag" property="commodityFlag" />
		<result column="commoditySalesVolume" property="commoditySalesVolume" />
		<result column="commodityPutawayTime" property="commodityPutawayTime" />
		<result column="commoditySoldoutTime" property="commoditySoldoutTime" />
		<result column="commoditySmallPic1" property="commoditySmallPic1" />
		<result column="commoditySmallPic2" property="commoditySmallPic2" />
		<result column="commoditySmallPic3" property="commoditySmallPic3" />
		<result column="commoditySmallPic4" property="commoditySmallPic4" />
		<result column="commoditySmallPic5" property="commoditySmallPic5" />
		<result column="isDefaultModel" property="isDefaultModel" />
		<association property="onlineCommodity"
			javaType="com.sxsram.ssm.entity.OnlineCommodity">
			<id column="cid" property="id" />
			<result column="commodityName" property="commodityName" />
			<result column="commodityMainPic" property="commodityMainPic" />
			<result column="commodityDetailFileName" property="commodityDetailFileName" />
		</association>
	</resultMap>
	<select id="queryOnlineCommodityModelById" parameterType="Integer"
		resultMap="map_onlineCommodityModel">
		select
		m.id,m.commodityModel,m.commodityPrice,m.commodityDesc,m.commodityService,
		m.commodityRepertory,m.commodityFlag,m.commoditySalesVolume,m.commodityPutawayTime,m.commoditySoldoutTime,
		m.commoditySmallPic1,m.commoditySmallPic2,m.commoditySmallPic3,m.commoditySmallPic4,m.commoditySmallPic5,
		m.isDefaultModel,
		c.id as
		cid,c.commodityName,c.commodityMainPic,c.commodityDetailFileName
		from
		t_online_commodity_model m join t_online_commodity c
		on m.commodityId =
		c.id and m.commodityFlag = 0 and c.onlineCommodityFlag = 0
		where
		m.id = #{id}
	</select>

	<update id="updateCommodityModel" parameterType="com.sxsram.ssm.entity.OnlineCommodityModel">
		update t_online_commodity_model
		<trim prefix="set" suffixOverrides=",">
			<if test="commodityModel != null">
				commodityModel = #{commodityModel},
			</if>
			<if test="commodityPrice != null">
				commodityPrice = #{commodityPrice},
			</if>
			<if test="commodityDesc != null">
				commodityDesc = #{commodityDesc},
			</if>
			<if test="commodityService != null">
				commodityService = #{commodityService},
			</if>
			<if test="commodityRepertory != null">
				commodityRepertory = #{commodityRepertory},
			</if>
			<if test="commodityFlag != null">
				commodityFlag =
				#{commodityFlag},
			</if>
			<if test="commodityPutawayTime != null">
				commodityPutawayTime =
				#{commodityPutawayTime},
			</if>
			<if test="commoditySoldoutTime != null">
				commoditySoldoutTime = #{commoditySoldoutTime},
			</if>
			<if test="isDefaultModel != null">
				isDefaultModel = #{isDefaultModel},
			</if>
			<if test="commoditySmallPic1 != null">
				commoditySmallPic1 = #{commoditySmallPic1},
			</if>
			<if test="commoditySmallPic2 != null">
				commoditySmallPic2 = #{commoditySmallPic2},
			</if>
			<if test="commoditySmallPic3 != null">
				commoditySmallPic3 = #{commoditySmallPic3},
			</if>
			<if test="commoditySmallPic4 != null">
				commoditySmallPic4 = #{commoditySmallPic4},
			</if>
			<if test="commoditySmallPic5 != null">
				commoditySmallPic5 = #{commoditySmallPic5},
			</if>
		</trim>
		<where>
			<if test="id != null">
				id = #{id}
			</if>
		</where>
	</update>
</mapper>